.c-content
	padding 30px 0 50px

.c-iframe-video
	r-block()
	width 100% !important
	height 100% !important

.c-video
	r-block()
	background url('../../images/main-video.jpg') center center no-repeat
	background-size contain
	box-shadow 0px 0px 15px 0px rgba(50, 50, 50, 0.5)
	width 720px
	height 400px
	cursor pointer
	&--reviews
		background url('../../images/review-video.jpg') center center no-repeat
		background-size contain

.c-button-material
	display block
	font-size 1.5rem
	width 200px

.c-index-header
	r-block()
	text-align center
	padding-bottom 20px

.c-start-form
	margin-top 30px
	&__button
		display block
		float right
		margin-right 10px
	.input-field input:focus + label
		color #ff6f00
	.input-field input:focus
		border-bottom 1px solid #ff6f00
		box-shadow 0 1px 0 0 #ff6f00
	.input-field input.valid
		border-bottom 1px solid #00c853
		box-shadow 0 1px 0 0 #00c853
	.input-field input.invalid
		border-bottom 1px solid #ff5252
		box-shadow 0 1px 0 0 #ff5252
	.input-field .prefix.active
		color #ff6f00
	.c-conf-form
		text-align right

.c-table
	width 100%
	height 100%
	display table
	&__row
		display table-row
	&__cell
		display table-cell
		vertical-align middle

.c-desc-menu
	display inline-block
	clearfix()

.c-mob-menu
	padding-top 56px
	text-align left

.c-tab
	max-width 900px
	margin auto
	&__content-item
		padding-top 30px

.c-lesson-card
	clearfix()
	&__content
		float left
		width 400px
		text-align left
	&__content-header
		font-size 20px
		margin-bottom 0
	&__content-header-bottom
		font-size 16px
		margin-bottom 0
	&__content-list
		padding-left 30px
		margin-top 5px
	&__icon
		float right
		width 420px
	&__link
		display block
		cursor pointer
	&__img
		display block
		width 100%
		margin-top 30px

.c-scroll-fire
	text-align left
	font-size 18px
	&__item
		position relative
		padding-left 40px
		line-height 28px
		margin-bottom 10px
	&__ico
		position absolute
		top 0
		left 0

.c-team-list
	clearfix()
	w = 250px
	h = 45px
	width w * 3
	margin auto
	&__item-wr
		width w
		height 255px
		padding-top 25px
		float left
	&__item-img
		position relative
		width 150px
		height 150px
		margin auto
	&__img
		border-radius 100%
		width 100%
		height 100%
	&__soc
		display block
		position absolute
		right 0
		bottom 0
		text-align center
		height h
		width h
		border-radius 100%
		padding 0
	&__soc-ico
		display inline-block
		line-height h !important
	&__item-info
		text-align center
	&__name
		font-size 18px
		font-weight 700
		margin-bottom 0
	&__staf
		font-size 16px
		margin-top 5px
	
.c-privacy-policy
	ul
		padding-left 20px

.c-iframe-order-bro
	position fixed
	top -500px
	left -500px
	height 0
	overflow hidden

.c-popup-send-form
	h5
		text-align center

.c-conf-form
	font-size 12px
	margin 0
	padding 0