.h-clear
	clear both
	&--h
		width 100%
		height 1pxr both

.h-clearfix
	clearfix()

.h-hide
	display none !important

.h-visible
	display block !important

.h-block
	display block

.h-inline
	display inline

.h-i-block
	display inline-block

.h-left
	float left

.h-right
	float right