.l-nav
	text-align center
		
.l-page-index
	.c-video
		margin 0 auto 30px
	.c-button-material
		margin auto
.l-page-reviews
	.c-video
		margin 0 auto 30px
	.c-button-material
		margin auto

.l-footer
	&__item
		text-align center

.l-progress
	margin-top 50px

.l-scroll-fire
	padding-top 50px
	h2
		margin-bottom 0
