@media screen and (max-width: 1200px)
	.c-video
		width 500px
		height 277px

@media only screen and (max-width: 992px)
	h1
		font-size 2rem
	h2
		font-size 1.5rem
	.c-start-form
		margin-top 0

@media only screen and (max-width: 600px)
	h1
		font-size 1.7rem
	h2
		font-size 1.1rem
	.c-video
		width 300px
		height 166px
	.c-button-material
		font-size 1rem
		width 150px
		height 40px
		line-height 40px
		i
			font-size 1.3rem